*{
    margin: 0;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 231, 218);
    height: 100vh;
    

    .container{
        display: flex;
        flex-direction: row;        
        height: 65%;
        width: 80%;
        background-color: whitesmoke;      
        
    }
}